@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Arial&display=swap');

h1, h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
}

#progress-bar {
    width: 100%;
}

.tab-content {
    padding: 20px;
}

